// colors
:root{
    --mainBG: hsl(0, 0%, 92%);
    --black: hsl(0, 0%, 0%);
    --darkgrey: #A4A4A4;
    --lightgrey: #EBEBEB;
    --navblack: hsl(0, 0%, 0%);
}


body.dark-mode{
   --mainBG: hsl(0, 0%, 0%);
   --black: hsl(0, 0%, 100%);
   --darkgrey: #A4A4A4;
   --lightgrey: #ffffff;
   --navblack: hsl(0, 0%, 0%);
}

// font

$font: "Atkinson Hyperlegible", serif;

// styling

$mb: 30px;

*{
    margin: 0;
    padding: 0;
    line-height: 1;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-family: $font;
}

a{
    text-decoration: none;
    color: var(--navblack);
}

li{
    list-style-type: none;
}

.main-container{
    background-color: var(--mainBG);
    width: 100vw;
    height: 100vh;
    display: flex;
    gap: 20px;
    padding: 20px;
    overflow: hidden;
    position: relative;
}

// blur effect

.description.blurred{
    filter: blur(20px);
}

.image-content.blurred{
    filter: blur(20px);
}

.right-container.blurred{
    filter: blur(20px);
}

.left-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    width: 30vw;
    min-width: 400px;

    #socials{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255,255, 255, 0.1);
        z-index: 10;
        display: none;
        place-content: center;

        .social-list{
            display: flex;
            gap: 10px;

            li{
                cursor: pointer;
                display: flex;
                align-items: flex-end;
                width: 200px;
                padding: 6px 9px;
                height: 65px;
                color: var(--black);
                border-radius: 10px;
                border: 1px solid var(--black);
            }
        }
    }

    #socials.active{
        display: grid;
        filter: blur(0px);
    }

    .navbar{
        width: 100%;
        display: flex;
        gap: 10px;
        position: relative;
        z-index: 25;
        filter: none;
        li{
            display: flex;
            width: 12vw;
            height: 55px;
            padding: 6px 9px;
            align-items: flex-end;
            background-color: var(--lightgrey);
            font-size: clamp(0.8rem, 0.9vw, 1rem);
            border-radius: 10px;
            border: 1px solid var(--darkgrey);
            cursor: pointer;
        }

        .information-nav{
            width: 6vw;
            color: var(--darkgrey);
            &:hover{
                color: var(--navblack);
            }
        }

        .socials-nav{
            width: 6vw;
            color: var(--darkgrey);
            &:hover{
                color: var(--navblack);
            }
        }

        #toggle-dark-mode{
            width: 6vw;
            color: var(--darkgrey);
            &:hover{
                color: var(--navblack);
            }
        }
    }

    .description{
        width: 100%;
        color: var(--black);
        transition: all 0.3s ease;

        p{
            width: 100%;
            letter-spacing: 20%;
            text-align: justify;
            line-height: 1.5;
            font-size: clamp(0.6rem, 0.8vw, 1.2rem);
            overflow: hidden;

            span{
                font-weight: 700;
                cursor: pointer;
            }
        }
    }

    .image-content{
        width: 100%;
        height: 70vh;
        position: relative;
        transition: all 0.3s ease;

        .image-placeholder{
            width: 100%;
            height: 100%;
            img{
                width: 100%;
                height: 100%;
            }
        }

        .hover-me{
            position: absolute;
            color: white;
            top: 50%;
            left: 42%;
            cursor: pointer;
            font-size: 0.9vw;
            display: block;
        }
    }
}

// right - container

.right-container{
    height: 100%;
    width: 75vw;
    transition: all 0.3s ease;


    .name-tag{
        display: flex;
        width: 100%;
        display: flex;
        align-items: flex-end;
        margin-bottom: 13vh;

        img{
            width: 50vw;
            height: auto;
            margin-left: auto;
        }
    }

    .work{
        width: 100%;
        position: relative;

        .radio-img-placeholder{
            position: absolute;
            z-index: 20;

            top: 0;
            left: 0;
            height: 70vh;
            width: 100%;
            display: none;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        
        .work-list{
            display: flex;
            flex-direction: column;
            gap: 2vh;
            max-height: 70vh;
            overflow-y: scroll;
            color: var(--black);

            li{
                display: flex;
                justify-content: left;
                font-size: 1vw;
                text-transform: uppercase;
                padding-bottom: 5px;
                border-bottom: 2px dotted var(--black);

                a{
                    cursor: pointer;
                    &:hover{
                        color: var(--darkgrey);
                    }
                }

                .title{
                    width: 20vw;
                }

                .type{
                    width: 20vw;
                }

                .location{
                    width: 20vw;
                }

                .year{
                    margin-left: auto;
                }
            }

            .context{
                color: var(--darkgrey);
                border-bottom: 1px solid;

                .title{
                    cursor: default;
                }
            }
        }
    }
}





